body{
    margin: 0;
}
.nav-enlace{
    display: flex;
    color: rgb (32, 30, 30);
    text-decoration: none;
    margin-right: 18px;
    margin-top: 10px;
    margin-left: -3px;
    font-family: arial, sans-serif;
    height: 24px;
    font-size: 13px;
}