body{
    margin: 0;
}
.nav-enlace{
    display: flex;
    color: rgb (32, 30, 30);
    text-decoration: none;
    margin-right: 18px;
    margin-top: 10px;
    margin-left: -3px;
    font-family: arial, sans-serif;
    height: 24px;
    font-size: 13px;
}
.nav-enlace:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
.google{
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-left: 2px;
}
.dange{
    display: flex;
    justify-content: center;
}
.lupa{
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 34px;
}
.ofrecido{
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4043;
}
.español{
    color: blue;
    text-decoration: none;

}
.bolivia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 1px solido #dadce0;
    color: rgba(0, 0, 0, 54);
    padding-top: 2px;
    margin-left: 30px;
    height: 45px;
}
.partedeabajo{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 54);
    margin: 1px;
    fill: 10px 15px;

    .partedeabajo: hover{
        text-decoration: unerline;

    }
    .partes{
        display: flex;
        justify-content: space-between;
        height: 45px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .mover{
        margin-left: auto;
    }
}